.endgame {
background-image: url(https://scontent-cdt1-1.xx.fbcdn.net/v/t1.15752-9/48418838_1327436524064908_6836428049248944128_n.png?_nc_cat=102&_nc_ht=scontent-cdt1-1.xx&oh=adff6ad60e7b243049b9cda3071567e3&oe=5C9E8487);
background-size: contain;
width: 100vw;
height: 100vh;
background-repeat: no-repeat;
}